*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    padding: 0;
    margin: 0;
}

.navbar{

    .toggle-icon:focus{
        outline: none;
        box-shadow: none;
        color: rgb(255, 123, 0);
    }

    .navbar-nav{
        .nav-item{
            position: relative;

            a{
                padding: 0px 30px !important;
                span{
                    position: relative; 
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 22px;
                    &::before{
                        content: "";
                        height: 1px;
                        width: 0%;
                        background-color: black;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        transition: all 0.4s;
                    }

                    
                }
                
                &:hover{
                    span::before{
                        height: 1px;
                        width: 100%;
                        background-color: black;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        transition: all 0.4s;
                    }
                }
            }
            &:nth-child(1) a span::before{
                content: "";
                height: 1px;
                width: 100%;
                background-color: black;
                position: absolute;
                bottom: 0;
                left: 0;
                transition: all 0.4s;
            }

            .nav-dropdown{
                min-width: 100%;
                height: 0px;
                overflow: hidden;
                opacity: 0;
                list-style: none;
                padding: 0;
                position: absolute !important;
                top: 72px;
                left: 3px;
                text-align: left;
                background-color: white;
                transition: all 0.8s;
                z-index: 9;
                // padding: 20px 0px;
                // transition: all 0.5s;
                // display: none;
                // box-shadow: 0 5px 5px 0 rgb(0 0 0 / 3%);
                
                li{
                    width: 210px;
                    padding: 8px 26px !important;

                    &:hover{
                        .drop-item::before{
                            width: 100%;
                        }
                    }
                }
                .drop-item{
                    width: 100%;
                    text-decoration: none;
                    // color: black;
                    padding: 0 !important;
                    padding: 12px 8px 12px 0px!important;
                    font-size: 13px;
                    color: #737373;

                    position: relative; 
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 22px;
                    &::before{
                        content: "";
                        height: 1px;
                        width: 0%;
                        background-color: black;
                        position: absolute;
                        bottom: 12px;
                        left: 0px;
                        transition: all 0.4s;
                    }
                }                
            }
            &:hover{
                .nav-dropdown{
                    height: 290px;
                    opacity: 1;
                    // visibility: visible;
                    // opacity: 1;
                    // transition: all 0.5s;
                }
            }
        }
    }
}


// .active-nav-dropdown{
//     display: block !important;
// }

.nav-icons{
    list-style: none;
    display: flex;
    .search{     
        .search-icon{
            cursor: pointer;
            &:hover{
                color: red;
            }
        }
        .search-bar{
            position: relative;
            .search-sec{ 
                position: absolute;
                display: flex;
                justify-content: space-between;
                position: absolute;
                top: 72px;
                right: 0;
                left: auto;
                height: 0px;
                overflow: hidden;
                z-index: 9;
                // height: 0;
                padding: 23px 20px;
                background-color: white;
                opacity: 0;
                visibility: hidden;
                transition: all 0.3s;
                input{
                    outline: none !important;
                    border: none !important;
                    text-decoration: none;
                }
                i{
                    color: #737373;
                    font-weight: 600;
                }
            }
        }
        // &:hover{
        //     color: red;
        //     .search-bar{
        //         .search-sec{
        //             height: 26px;
        //             top: 50px;
        //             right: 0;
        //             left: auto;
        //             overflow: hidden;
        //         }
        //     }
        // }
    }
    li{
        padding:0px 20px;
    }
    .nav-icons-cart{
        position: relative;
        cursor: pointer;
        .cart-icn:hover + .cart-info{
            
                height: 70px;
                //height: 100%;
                visibility: visible;
                opacity: 1;
                width: 245px;

            
        }
        .cart-info{
            padding: 23px 20px;
            position: absolute;
            left: auto;
            right: 0;
            top: 72px;
            color: #737373;
            font-size: 13px;
            font-weight: 500;
            width: 245px;
            background-color: white;
            border: 1px solid #e8e8e8;
            text-align: left;
            z-index: 1000;
            overflow: hidden;
            height: 0%;
            visibility: hidden;
            opacity: 0;
            transition: all 0.1s;
        }
    }
}

.active-search{
    height: 60px !important;
    top: 48px !important;
    right: 0 !important;
    opacity: 1 !important;
    visibility: visible !important;  
    // left: auto;
    // overflow: hidden;
}


#carouselExampleFade{
    .carousel-inner{
        .carousel-item{
            .header-content{
                width: 520px;
                top: 150px;
                left: 200px;
                .header-title{
                    color: black;
                    display: block;
                }
            }
        }
    }
}



#main-content{
    padding-top: 57px;
    padding-bottom: 75px;
    .flowers-list{
        list-style: none;
        display: flex;
        margin-bottom: 27px;
        padding: 0;
        .flower-item{
            margin-right: 32px;
            font-size: 12px;
            cursor: pointer;
            // &:first-child{
            //     color: red;
            // }
            &:hover{
                color: red;
            }
        }
        .flower-item.active{
            color: red;
        }
    }

    .product-content{
        .product-img{
            cursor: pointer;
            width: 100%;
            overflow: hidden;
            transition: all 0.2s;
            img{
                object-fit: cover;
                width: 100%;
                transition: all 0.2s;
                &:hover{
                    object-fit: cover;
                    max-width: 100%;
                    transform: scale(1.03);
                }
            }

            
        }

        .product-desc{
            margin-top: 23px;
            text-align: center;
            h6{
                font-size: 12px;
                cursor: pointer;
            }

            .add-to-cart{
                font-size: 12px;
                cursor: pointer;
                left: 39%;
                opacity: 0;
                transform: translateX(-50%);
                transition: all 0.4s;

                &:hover{
                    color: red;
                }
            }

            .product-price{
                font-size: 12px;
                right: 45%;
                opacity: 1;
                transform: translateX(0%);
                transition: all 0.4s;
                cursor: pointer;
            }
        }

        &:hover{
            .add-to-cart{
                opacity: 1;
                transform: translateX(1%);
            }
            .product-price{
                opacity: 0;
                right: 15% !important;
            }
        }
    }
}


#suprise{
    background-color: #f7f7f7;
    padding-top: 120px;
    padding-bottom: 120px;
    .suprise-img{
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        img{
            object-fit: cover;
            width: 100%;
            transition: all 0.2s;
            &:hover{
                object-fit: cover;
                max-width: 100%;
                transform: scale(1.03);
            }
        }

        i{
            padding: 40px;
            background-color: white;
            color: red;
            border-radius: 50%;
            // top: 37%;
            // left: 40%;
        }
    }
    .suprise-content{
        .suprise-list{
            list-style: none;
            padding: 0;
            .suprise-item{
                // i{
                //     color: red;
                // }
                margin: 20px 0px;
            }
        }
    }
}


#experts{
    .experts-heading{
        padding-top: 138px;
        padding-bottom: 60px;
        h2{
            margin-bottom: 20px;

        }

        p{
            font-size: 17px;
            line-height: 29px;
            margin-top: 15px;
        }
    }

    .flower-expert{
        padding-bottom: 80px;
        .expert-info{
            margin-top: 18px;
            h6{
                font-size: 12px;
            }
            span{
                font-size: 12px;
                margin: 2px 0px;
                color: #afafaf;
            }
        }
    }
}


#subscribe{
    background-image: url("https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/h3-background-img.jpg"); 
    background-position: 50% 52px;
    background-attachment: fixed;
    padding-top: 185px;
    padding-bottom: 185px;
    .subscribe-content{
       h3{
           color: white;
           margin-bottom: 20px;
           font-size: 30px;
       }


    }
    .subscribe-input{
        margin-bottom: 20px;
        width: 50%;
         input{
             width: 100%;
             border: none !important;
             padding: 19px 18px;
             font-size: 12px;
             color: #e8e8e8;
             &:focus{
                 border: none !important;
                 outline:none !important;
             }
         }
         a{
             width: 40%;
             display: flex;
             align-items: center;
             font-size: 12px;
             justify-content: center;
         }
    }
}


#blog{
    .blog-heading{
        padding-top: 138px;
        padding-bottom: 60px;
        h2{
            margin-bottom: 20px;

        }

        p{
            font-size: 17px;
            line-height: 29px;
            margin-top: 15px;
        }
    }

    .main-blog{
        .blog-img{
            width: 100%;
            overflow: hidden;
            position: relative;
            img{
                object-fit: cover;
                width: 100%;
                transition: all 0.2s;
                &:hover{
                    object-fit: cover;
                    max-width: 100%;
                    transform: scale(1.03);
                }
            }
            .blog-date{
                position: absolute;
                top: 10px;
                left: 10px;
                background-color: white;
                padding: 12px 16px 10px;
                font-size: 10px;
                line-height: 1em;
                font-weight: 500;
                cursor: pointer;
                &:hover{color: red;}
            }
        }
        .blog-content{
            text-align: center;
            margin-top: 40px;
            p{
                margin-top: 20px;
            }
        }
    }
}

#feedbacks{
    padding-top: 84px;
    padding-bottom: 112px;
    .carousel-item{
        .faq-img{
            display: flex;
            justify-content: center;
            img{
                max-width: 87px;
            }
        }
        .faq-content{
            text-align: center;
            font-size: 24px;
            line-height: 1.5em;
            margin: 30px 0px;
        }
        .faq-info{
            text-align: center;
            p{
                font-size: 12px;
                font-weight: 500;
            }
            span{
                font-size: 12px;
                font-weight: 400;
                color: #afafaf;
            }
        }
    }
}