#cities{
    display: flex;
    list-style: none;
    width: 150px;
    justify-content: space-between;
    height: auto;
}


.city{
    background-color: antiquewhite;
    padding:20px;
}


.active{
    background-color: gray;
}